.progress{

    .bg-gradient-success{
        width: 70%;
    }

    .bg-gradient-primary{
        width: 80%;
    }

    .bg-gradient-info {
        width: 75%;
    }

    .bg-gradient-warning {
        width: 30%;
        }

    .bg-gradient-danger {
        width: 60%;
    }

}
